<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="layout/common-style.css">
<title><?php echo PRODUCT_TITLE; ?></title>
</head>
<body>
<div id='page-wrapper'>
	<div id='banner-wrapper'>
		<div id='product-title'><?php echo PRODUCT_TITLE; ?></div>
		<div id='user-info'><?php echo "$username@{$_SERVER['REMOTE_ADDR']}"; ?><br><a href='logout.php'>Logout</a></div>
	</div>
	<div id='content-wrapper'>
		<?php echo $html_nav; ?>
		<div id='main-body'>
			<?php echo $html_main_body; ?>
		</div>
	</div>
	<div id='menubar'>
		<form>
			<input type="submit" value='Save'>
			<input type="submit" value='Apply'>
			<input type="submit" value='Reload'>
		</form>
	</div>
</div>
<script type='text/javascript' src='lib/common-function.js'></script>
</body>
</html>
